<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscribers Galore</title>
</head>
<body>
    <center>
    <h1>Report for subscribers Galore</h1>

    <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Fyoutube%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1440" height="1920" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

    <!-- <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Fyoutube%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe> -->
    </center>
</body>
</html>