<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>story for Subscribers Galore</title>
</head>
<body>
    <center>
    <h1>DashBoard for SUBSCRIBERS GALORE</h1>

    <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Fyoutube%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018b41844cb8_00000002&amp;sceneTime=0" width="1440" height="1920" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>

    <!-- <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2Fyoutube%2Bstory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model0000018b41978656_00000000&amp;sceneTime=3950" width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe> -->
    </center>
</body>
</html>